---
import ProjectLayout from "../layouts/ProjectLayout.astro"
import { projects } from "../components/Projects.astro"

const { project } = Astro.params

const info = projects.find((p) => p.title.slug === project)

if (!info) {
	return Astro.redirect("/404")
}
---

<ProjectLayout
	title={`Proyecto ${info.title.slug}`}
	description={`Pagina del proyecto ${info.title.text}`}
>
	<main class="m-auto max-w-4xl">
		<div class="mt-20 grid grid-cols-[350px_1fr] gap-x-12">
			<picture class="relative w-full">
				<img
					class="aspect-[389/500] h-full w-full max-w-full rounded-lg object-cover"
					src={info.imageUrl}
					alt={`Portada de ${info.title.text}`}
				/>
			</picture>

			<aside>
				<h1 class="mb-4 text-5xl font-black">{info.title.text}</h1>
				<p class="text-lg">{info.description}</p>
			</aside>
		</div>
	</main>
</ProjectLayout>
