---
import Container from "@/components/Container.astro"
import { Image } from "astro:assets"
import meImg from "../../public/images/me.webp"

const technologies = [
	{
		title: ".NET",
		icon: "/icons/techs/dotnet.svg",
		styles: "border border-blue-800 bg-blue-800/40 text-neutral-200",
	},
	{
		title: "Bash",
		icon: "/icons/techs/bash.svg",
		styles: "border border-neutral-200/50 bg-gray-600/40 text-neutral-200",
	},
	{
		title: "Nginx",
		icon: "/icons/techs/nginx.svg",
		styles: "border border-emerald-500 bg-emerald-500/40 text-neutral-200",
	},
]

const githubActions = {
	title: "Github Actions",
	icon: "/icons/techs/Github.svg",
	styles: "border border-neutral-500 bg-neutral-500/40 text-neutral-200",
}

const { t } = Astro.props
---

<Container id="about">
	<section
		class="mb-3 flex flex-col items-center justify-evenly gap-2 rounded-md border border-white/10 bg-white/5 p-2 md:flex-row"
	>
		<div class="flex flex-col gap-y-3">
			<h3 class="text-2xl font-bold text-white">
				{t("about.title")}
			</h3>
			<span class="text-neutral-300">
				{t("about.span1")}
			</span>
			<span class="text-neutral-300">
				{t("about.span2")}
			</span>
			<span class="text-neutral-300">
				{t("about.span3")}
			</span>
		</div>
		<Image src={meImg} alt="me" class="size-60 rounded-md" />
	</section>

	<div class="mt-2 flex w-full flex-col gap-y-3">
		<h4 class="text-sm font-semibold uppercase text-neutral-400">{t("about.learning")}</h4>
		<div class="grid grid-cols-3 gap-4 md:grid-cols-4 lg:grid-cols-6">
			{
				technologies.map(({ icon, styles, title }) => (
					<div
						class:list={`${styles} glass-hover flex h-28 transform flex-col items-center justify-center rounded-lg border border-blue-800 bg-blue-800/40 text-neutral-200 shadow-md shadow-neutral-900`}
					>
						<img class="mb-2 size-12" alt={`${title}-img`} src={icon} loading="lazy" />
						<span class="font-medium">{title}</span>
					</div>
				))
			}

			<div
				class:list={`${githubActions.styles} glass-hover flex h-28 transform flex-col items-center justify-center rounded-lg border border-blue-800 bg-blue-800/40 text-neutral-200 shadow-md shadow-neutral-900`}
			>
				<img
					class="mb-2 size-12"
					alt={`${githubActions.title}-img`}
					src={githubActions.icon}
					loading="lazy"
				/>
				<span class="text-sm font-medium">{githubActions.title}</span>
			</div>
		</div>
	</div>
</Container>
