---
interface Props {
	date: string
	title: string
	company?: {
		name: string
		link: string
	}
	description: string
	link?: string
}

import SocialPill from "@/components/SocialPill.astro"

import { getLangFromUrl, useTranslations } from "@/i18n/utils"
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { date, title, company, description, link } = Astro.props
---

<li class="mb-10 ms-4">
	<div
		class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-gray-200/80 bg-gray-200/80"
	>
	</div>
	<time class="mb-1 text-sm font-normal leading-none text-sky-200/80">{date}</time>
	<h3 class="mt-2 text-lg font-bold text-[#19b4b9]">
		{title}
	</h3>
	{
		company && company.link && (
			<a href={company.link} target="_blank" rel="noopener noreferrer">
				<span class="text-xs text-[#19b4b9]/90">{company && company.name}</span>
			</a>
		)
	}
	<p class="mb-4 text-pretty text-base font-normal text-gray-200">
		{description}
	</p>
	{
		link && company && (
			<SocialPill link={link}>
				{t("exp.more")} {company.name}
				<svg
					class="ms-2 h-3 w-3 rtl:rotate-180"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9"
					/>
				</svg>
			</SocialPill>
		)
	}
</li>
