---
import NavMenu from "@/components/NavMenu"
import LanguagePicker from "./LanguagePicker.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

import { languages } from "@/i18n/ui"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"

const Links = [
	{ href: "#info", label: t("nav.information") },
	{ href: "#experience", label: t("nav.experience") },
	{ href: "#projects", label: t("nav.projects") },
	{ href: "#technologies", label: t("nav.technologies") },
	{ href: "#study", label: t("nav.studies") },
]
---

<section class="z-10 flex w-full items-center justify-end py-0 md:justify-center md:py-3">
	<div class="flex space-x-2">
		{/* desktop menu */}
		<header class="z-50 hidden items-center justify-center md:flex">
			<nav
				class="inline-flex items-center justify-center gap-x-2 rounded-full border border-white/10 bg-white/5 px-2 py-1 text-xs md:px-4 md:py-2 md:text-base"
			>
				{
					Links.map((item) => (
						<a href={item.href} class="transition hover:text-[#0891b2]">
							{item.label}
						</a>
					))
				}
			</nav>
		</header>
		{/* Mobile menu */}
		<NavMenu client:visible Links={Links} lang={lang} languages={languages} />
		<div class="hidden items-center justify-center md:flex">
			<LanguagePicker lang={lang} languages={languages} />
		</div>
	</div>
</section>

<style>
	section {
		position: sticky;
		top: 0px;
	}

	nav {
		animation: adjust-nav linear both;
		animation-timeline: scroll();
		animation-range: 0 200px;
	}

	section {
		backdrop-filter: blur(3px);
		animation: adjust-section linear both;
		animation-timeline: scroll();
		animation-range: 0 200px;
	}

	@keyframes adjust-nav {
		to {
			border: 0px;
			padding: 9px;
			background: none;
		}
	}

	@keyframes adjust-section {
		to {
			background: rgba(0, 0, 0, 0.7);
		}
	}
</style>
