---
import { type TagsProps, type ProjectType } from "@/types"
import type { ImageMetadata } from "astro"
import { Image } from "astro:assets"

interface Props {
	imageUrl: ImageMetadata
	url: string
	title: {
		text: string
		slug: string
		color: string
	}
	tags: Array<TagsProps>
	description: string
	type: ProjectType
}

import { getRelativeLocaleUrl } from "astro:i18n"
const { currentLocale } = Astro

const { imageUrl, url, title, tags, description } = Astro.props
---

<article class="mb-1 rounded-lg border border-white/10 bg-white/5 p-2">
	<h3 class:list={`${title.color} mb-2 text-xl font-semibold text-transparent`}>
		{title.text}
	</h3>
	<a href={getRelativeLocaleUrl(currentLocale ?? "", url)} class="block overflow-hidden rounded">
		<Image
			transition:name={title.slug}
			class="mb-2 transform overflow-hidden rounded shadow-2xl shadow-white/10 transition-transform duration-300 ease-out hover:scale-110"
			src={imageUrl}
			alt={`Captura de pantalla del proyecto ${imageUrl}`}
			loading="lazy"
		/>
	</a>

	<p class="mb-3 text-pretty text-base text-neutral-200">{description}</p>
	<ul class="mb-3 flex flex-wrap gap-2">
		{
			tags.map((tag) => (
				<li>
					<span
						class:list={`flex gap-x-2 rounded-full text-xs ${tag.class} items-center justify-center px-2 py-1`}
					>
						<img src={tag.icon} alt={`${tag.label}-icon`} class="size-6" loading="lazy" />
						{tag.label}
					</span>
				</li>
			))
		}
	</ul>
</article>
