---
import Project from "@/components/Project.astro"
import Container from "@/components/Container.astro"

import { getWorks, getProjects } from "@/utils/data"
const works = await getWorks(Astro.url)
const projects = await getProjects(Astro.url)

const { t } = Astro.props
---

<Container id="projects">
	<h2 class="mb-6 flex items-center gap-x-3 text-2xl font-semibold">
		<img src="/icons/Code.svg" alt="Code icon" loading="lazy" />
		{t("proj.title")}
	</h2>

	<div class="flex flex-col items-center justify-center gap-y-3">
		<section class="projectsShow grid-cols-1 gap-3 md:grid-cols-2">
			{
				works.map((item) => (
					<Project
						imageUrl={item.imageUrl}
						url={item.url}
						title={item.title}
						tags={item.tags}
						description={item.description}
						type={item.type}
					/>
				))
			}
			{
				projects.map((item) => (
					<Project
						imageUrl={item.imageUrl}
						url={item.url}
						title={item.title}
						tags={item.tags}
						description={item.description}
						type={item.type}
					/>
				))
			}
		</section>
	</div>
</Container>

<style>
	button {
		padding: 0.25rem 0.5rem;
	}
	.selected {
		border-bottom: 1px solid white;
	}

	.projectsShow {
		display: grid;
	}

	.projectsHide {
		display: none;
	}
</style>
