---
import { myFade } from "../constants"

interface TagsProps {
	label: string
	class: string
	icon: any
}

interface ProjectType {
	type: string
	colorType: string
}

interface Props {
	imageUrl: any
	url: string
	title: {
		text: string
		slug: string
		color: string
	}
	tags: Array<TagsProps>
	description: string
	type: ProjectType
}

const { imageUrl, url, title, tags, description, type } = Astro.props
---

<article class="mb-1 rounded-lg shadow-lg shadow-neutral-900 bg-neutral-800 p-2">
	<h3 class:list={`${title.color} mb-2 text-xl font-semibold text-transparent`}>
		{title.text}
	</h3>
	<a href={url}>
		<img
			transition:name={title.slug}
			transition:animate={myFade}
			class="mb-2 rounded shadow-2xl shadow-white/10"
			src={imageUrl}
			alt={`Captura de pantalla del proyecto ${imageUrl}`}
		/>
	</a>

	<p class="mb-3 text-pretty text-base">{description}</p>
	<ul class="mb-3 flex flex-wrap gap-2">
		{
			tags.map((tag) => (
				<li>
					<span
						class:list={`flex gap-x-2 rounded-full text-xs ${tag.class} items-center justify-center px-2 py-1`}
					>
						<tag.icon class="size-6" />
						{tag.label}
					</span>
				</li>
			))
		}
	</ul>

	<!-- <span
		class:list={`inline-flex rounded-full text-xs ${type.colorType} items-center justify-center px-2 py-1`}
	>
		{type.type}
	</span> -->
</article>
