---
interface TechProps {
	label: string
	bg: string
	text_color: string
}

interface ProjectType {
	type: string
	colorType: string
}

interface Props {
	imageUrl: string
	title: string
	technologies: Array<TechProps>
	description: string
	type: ProjectType
}

const { imageUrl, title, technologies, description, type } = Astro.props
---

<div class="flex flex-col items-center gap-x-8 rounded-md bg-slate-800 p-3 md:flex-row">
	<div class="shrink-0">
		<a href="/">
			<img class="h-36 w-auto rounded-lg" src={imageUrl} alt="Imagen en componente" />
		</a>
	</div>
	<div class="flex h-full w-full flex-col gap-4">
		<div class="flex flex-col items-center justify-between md:flex-row">
			<a class="hover:text-cyan-400" href="/">
				<div class="text-xl font-semibold">{title}</div>
			</a>
			<div class="ml-3 flex gap-2">
				{
					technologies.map((item) => (
						<div
							class:list={`rounded-md px-2 py-1 text-xs font-semibold ${item.bg} ${item.text_color}`}
						>
							{item.label}
						</div>
					))
				}
			</div>
		</div>
		<div>
			<p class="text-gray-400">
				{description}
			</p>
		</div>
		<div class="flex items-center justify-end">
			<div class={`${type.colorType} rounded-md px-2 py-1 text-xs font-semibold`}>
				{type.type}
			</div>
		</div>
	</div>
</div>
