---
import Container from "@/components/Container.astro"
import School from "@/components/icons/School.astro"
import StudyItem from "@/components/StudyItem.astro"
import StudyItemM from "@/components/StudyItemM.astro"

const STUDYDATA = [
	{
		school: "Universidad del Valle de Guatemala, CA",
		date: "2019-2023",
		description: "Licenciatura en tecnología de sistemas informáticos",
	},
	{
		school: "Universidad del Valle de Guatemala, CA",
		date: "2017-2018",
		description: "Técnico universitario en sistemas e informática",
	},
	{
		school: "Escuela en ciencias de la computación",
		date: "2015-2016",
		description: "Bachillerato en computación",
	},
]
---

<Container id="study">
	<h2 class="mb-6 flex items-center gap-x-3 text-2xl font-semibold">
		<School class="size-6" />
		Estudios
	</h2>

	<ol class="relative hidden items-center px-3 md:ml-0 md:flex">
		{
			STUDYDATA.map(({ school, date, description }) => (
				<StudyItem school={school} date={date} description={description} />
			))
		}
	</ol>

	<ol class="relative ml-3 border-s border-gray-200 dark:border-gray-700 sm:hidden">
		{
			STUDYDATA.map(({ school, date, description }) => (
				<StudyItemM school={school} date={date} description={description} />
			))
		}
	</ol>
</Container>
