---
import Container from "@/components/Container.astro"
import StudyItem from "@/components/StudyItem.astro"
import StudyItemM from "@/components/StudyItemM.astro"

const { t } = Astro.props

const STUDYDATA = [
	{
		school: "Universidad del Valle de Guatemala, Campus Altiplano",
		date: "2019-2023",
		description: `${t("stud1.desc")}`,
		award: "SUMMA CUM LAUDE",
	},
	{
		school: "Universidad del Valle de Guatemala, Campus Altiplano",
		date: "2017-2018",
		description: `${t("stud2.desc")}`,
		award: "CUM LAUDE",
	},
	{
		school: "Escuela en ciencias de la computación, Sololá",
		date: "2015-2016",
		description: `${t("stud3.desc")}`,
	},
]
---

<Container id="study">
	<h2 class="mb-6 flex items-center gap-x-3 text-2xl font-semibold">
		<img src="/icons/School.svg" alt="School icon" class="size-6" />
		{t("stud.title")}
	</h2>

	<ol class="relative hidden items-start sm:flex md:ml-3 xl:ml-0">
		{
			STUDYDATA.map(({ school, date, description, award }) => (
				<StudyItem school={school} date={date} description={description} award={award} />
			))
		}
	</ol>

	<ol class="relative ml-4 border-s border-gray-200 dark:border-gray-700 sm:hidden">
		{
			STUDYDATA.map(({ school, date, description, award }) => (
				<StudyItemM school={school} date={date} description={description} award={award} />
			))
		}
	</ol>
</Container>
